@import "../../shared/color";

.button {
  color: $fontColor;
  position: fixed;
  bottom: 0px;
  border: 1px solid $fontColor;
  border-bottom: none;
  padding: 10px;
  z-index: 100;
  background-color: white;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  white-space: nowrap;
  text-align: center;
  outline: none;
  transition: transform 0.3s;

  &:active {
    transform: scale(0.95);
  }
}

.flippedArrow {
  transform: scaleX(-1);
  display: inline-block;
  margin-right: 5px;
}